     /*body*/


body {
	margin: 0;
}



h2 {
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	font-size: 50px;
	color: #66BFBF;
	margin-top: 0;
	
}

h3 {
	color: #66BFBF;
}


a {
	color: #66BFBF;
}



         /*fixed*/


.fixed {
	display: block;
	position: fixed;
	background-color: #086972;
	height: 90px;
	width: 100%;
}

.profile-pic {
	text-align: left;
	display: inline-block;
	margin: 22.5px;

}

.pages {
	text-align: right;
	display: inline-block;
	position: absolute;
	right: 0;
	padding:  0;
	margin-top: 40px;
}

.header-link {
	padding: 30px 30px;
	text-decoration: none;
}

.header-link:hover {
	background-color: lightblue;
}


         /*top-container*/


.top-container {
	background-color: #086972;
	padding-top: 100px;
	line-height: 0.5;
	text-align: center;

}

#cloud-1 {
	padding-left: 60%;
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 6rem;
	color: #66BFBF;
}

.web-dev {
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	font-size: 2em;
	color: #66BFBF;
}

#cloud-2 {
	padding-right: 60%;
	
}


         /*middle-container*/


.middle-container {
	text-align: center;
}

             /*profile*/


.profile {
	padding: 100px 0;
	width: 75%;
	margin: 0 auto;
}

.hello-img {
	width: 100px;
	top: 20px;
}

.hello {
	display: inline-block;
	margin-top: 0;
}

hr {
	border-style: dotted none none;
	border-width: 5px;
	border-color: lightgrey;
	width: 200px;

}


             /*skills*/

.skills {
	padding: 100px 0;
	width: 50%;
	margin: 0 auto;
}

.skill-row {
	text-align: left;
	padding: 20px 0;

}

.alcohol {
	width: 100px;
	float: left;
}


.judo {
	width: 100px;
	float: right;
}

             /*contact-me*/


.contact-me {
	margin: 100px 0;
}

button {
	background-color: #11999E;
	border-style: none;
	border-radius: 2em;
	width: 400px;
	color: white;
	margin-top: 50px;
	height: 25px;

}


         /*bottom-container*/


.bottom-container {  
	background-color: #11999E;
	padding-top: 20px;
	text-align: center;
	
}

.footer-link {
	margin: 0 50px;
}

.copyR {
	margin:0;
	padding:20px 0 10px;
}



